@media screen and (max-width: 758px) 
{
 
    .navbar{
        display: block;
        width: 90%;
    }
    .logo h2 a{
        font-size: 20px;
    }
    #menu-bar{
        display: grid;
        color: #fff;
        position: absolute ;
        right: 5%;
        top: 20%;
        width: 30px;
        height: 30px;
        justify-content:    center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }
    .nav-links{
        flex-direction: column;
        position: absolute;
        background: #24292D;
        width: 100%;
        left: 0;
        padding: 0;

    }
    .nav-links li a{
        border-bottom:1px solid rgba(238, 238, 238, 0.801);
        display: block;
        border-radius: 0;
        padding: 10px 0;
        margin: 0 20px;
    }
    .nav-links li :last-child a{
        border-bottom: none;

    }
    .innerAnasayfa{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .childAnasayfa{
        flex-basis: 100%;
    }
    .childAnasayfa :last-child{
        margin-bottom: 20px;
    }
    .childAnasayfa h1{
        font-size: 30px;
        line-height: 35px;
    }
    .childAnasayfa p{
        font-size: 20px;       
    }
    .inner-etkinlik {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .child-etkinlikler {
        width: 90%; /* Mobil görünümde kartların genişliği */
        margin: 0 auto;
    }

}